
.idea/
venv/
__pycache__/board.cpython-37.pyc
*.pyc
*.pyc
output.txt
__pycache__/board_tests.cpython-37.pyc
outputDLS.txt
output2.txt
output1.txt
__pycache__/board_tests.cpython-37.pyc
doubleAstarResult.txt
Output/a_star.txt
Output/output_double_a_star.txt
Output/output_ida_star.txt
